* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: hsl(75, 94%, 57%);
  --gray-700: hsl(0, 0%, 20%);
  --gray-800: hsl(0, 0%, 12%);
  --gray-900: hsl(0, 0%, 8%);
}

body {
  background: var(--gray-900);
  font-family: "Inter", sans-serif;
  margin: 98px auto;
}

img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 24px;
}

h1,
h3,
ul,
.attribution {
  color: white;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}

h2 {
  color: var(--green);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 32px;
}

h3 {
  font-size: 14px;
  font-weight: 400;
}

#profile {
  margin-bottom: 24px;
}

#container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 327px;
  margin: 0 auto;
  background: var(--gray-800);
  padding: 24px;
  border-radius: 16px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li {
  background: var(--gray-700);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

ul li:hover {
  background: var(--green);
  color: #000;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 14px;
}
.attribution a {
  color: var(--green)
}
